* {
  margin: 0;
}

.app-container {
  background-color: #fafafa;
}

.header-container {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  /* z-index: 1; => this has been added because while scrolling the posts were overlapping with header */

    max-width: 500px;
    margin: 20px auto;
    border: 1px solid lightgray;
    padding-left: 0;
    padding-right: 0;
}

/* object-fit: contain; ----> regardless of how big the container gets, keep the aspect ratio of image intact*/
.header-image {
  object-fit: contain;
}

.posts-container {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px auto;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.image-and-user{
  display: flex;
  flex: 1;
  align-items: center;
}

.avtar-image {
  margin-right: 10px;
}

.post-image {
  /* object fit and width help to keep image size maintained on all acreens */
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post-comments-text {
  font-weight: normal;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.added-comments-text-section{
  padding: 5px;  
  order: 1;
  flex: 1;
  /*
  word-break: break-all;  is use dto break words and display them properly
  */
  word-break: break-all;
}

.post-comments {
  display: flex;
  margin-top: 10px;
}

.post-comment-input {
  /* whenever there are 2 children in a parent flexbox we can specify width of each child. So this takes max width and button takes lesser width */
  flex: 1;
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.post-comment-button {
  flex: 0;
  background-color: transparent;
  color: #6082a3;
  border: none;
  border-top: 1px solid lightgray;
}

.user-comment-on-post{
  display: flex;
}

.delete-comment-on-post,.delete-post{
  order: 2;
  flex: 0;
  cursor: pointer;
  border:none;
  background-color: transparent;
  padding: 0 6px;
  color: #6082a3;
}

.delete-comment-on-post:hover,.delete-post:hover{
  background-color: lightgray;
}

.form-on-modal {
  display: flex;
  flex-direction: column;
}

/* .header-buttons-section{
  position: absolute;
  right: 0;
} */

.image-upload-container {
  display: flex;
  flex-direction: column;
  /* max-width: 500px; is same for both image uploader component and post container component */
  max-width: 500px;
  margin: 10px auto 10px auto;
  /* position: fixed;
  bottom: 0;
  border-top: 1px solid lightgray; */
}

.image-upload-progress {
  width: 100%;
}

.stories-bar-container{
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px auto;
  padding: 20px 0;
  overflow-x: scroll;

  display: flex;
}

.stories-bar-container,a{
  padding: 5px;
}

.stories-demo-container{
  display: flex;
  justify-content: center;
}

.add-user-story{
   font-size: 35px;
}

.add-new-story-for-user{
flex: 0;
background-color: transparent;
color: #6082a3;
border: none;
cursor: pointer;
}

.avatars-of-user-stories{
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 10%;
    margin:5px
}

.stories-bar-container input[type='file']{
  flex: 1;
  min-width: 40%;
}

.stories-demo-container div>img{
  width: 10%;
    max-width: 10%;
    max-height: 10%;
    margin: auto;
    object-fit: fill;
    height: 10%;
}