* {
  margin: 0;
}

.app-container {
  background-color:#fafafa;
}

.header-container {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  object-fit: contain; 
}

/* object-fit: contain; ----> regardless of how big the container gets, keep the aspect ratio of image intact*/
.header-image {
  object-fit: contain;
}

.posts-container{
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 30px;
}

.post-header{
  display: flex;
  align-items: center;
  padding: 20px;
}

.avtar-image{
  margin-right: 10px;
}

.post-image{
  /* object fit and width help to keep image size maintained on all acreens */
  width: 100%; 
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post-comments-text{
  font-weight: normal;
  padding: 20px;
}

.post-comments{
  display: flex;
  margin-top: 10px;
  }
  
  .post-comment-input{
    /* whenever there are 2 children in a parent flexbox we can specify width of each child. So this takes max width and button takes lesser width */
  flex: 1; 
  /* padding: 10px; */
  }
  
  .post-comment-button{
  flex: 0;
  background-color: transparent;
  color: #6082a3;
  }

.form-on-modal{
  display: flex;
  flex-direction: column;
}

.header-buttons-section{
  position: absolute;
  right: 0;
}

.image-upload-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto 10px auto;
  position: fixed;
  bottom: 0;
}
