* {
  margin: 0;
}

#root{
  height: 100vh;
}

.app-container {
  background-color: #fafafa;
}

.header-container {
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  /* z-index: 1; => this has been added because while scrolling the posts were overlapping with header */
  max-width: 500px;
  margin: 0px auto;
  padding-left: 0;
  padding-right: 0;
}

/* object-fit: contain; ----> regardless of how big the container gets, keep the aspect ratio of image intact*/
.header-image {
  object-fit: contain;
  padding-left: 5px;
}

.posts-container {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px auto;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.image-and-user{
  display: flex;
  flex: 1;
  align-items: center;
}

.avtar-image {
  margin-right: 10px;
}

.post-image {
  /* object fit and width help to keep image size maintained on all acreens */
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post-comments-text {
  font-weight: normal;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.added-comments-text-section{
  padding: 5px;  
  order: 1;
  flex: 1;
  /*
  word-break: break-all;  is use dto break words and display them properly
  */
  word-break: break-all;
}

.post-comments {
  display: flex;
  margin-top: 10px;
}

.post-comment-input {
  /* whenever there are 2 children in a parent flexbox we can specify width of each child. So this takes max width and button takes lesser width */
  flex: 1;
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.post-comment-button {
  flex: 0;
  background-color: transparent;
  color: #6082a3;
  border: none;
  border-top: 1px solid lightgray;
}

.user-comment-on-post{
  display: flex;
}

.delete-comment-on-post,.delete-post{
  order: 2;
  flex: 0;
  cursor: pointer;
  border:none;
  background-color: transparent;
  padding: 0 6px;
  color: #6082a3;
}

.delete-comment-on-post:hover,.delete-post:hover{
  background-color: lightgray;
}

.form-on-modal {
  display: flex;
  flex-direction: column;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  /* max-width: 500px; is same for both image uploader component and post container component */
  max-width: 500px;
  margin: 10px auto 10px auto;
  border: 1px solid lightgray;
}

.image-upload-progress {
  width: 50%;
  margin: 0px auto;
}

.stories-bar-container{
  max-width: 500px;
  margin: 20px auto;
  padding: 20px 0;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stories-demo-container{
  display: flex;
  justify-content: center;
}

.select-user-stories-to-add{
  border-radius: 10%;
  margin: 0px 5px;
}

.add-user-story{
   font-size: 25px;
}

.add-new-story-for-user{
flex: 0;
background-color: transparent;
color: #6082a3;
border: none;
cursor: pointer;
margin-top: 5px;
}

.stories-bar-container input[type='file']{
  flex: 1;
  min-width: 40%;
  width: 183px;
}

.stories-demo-container>div>div+div[style*="overflow: hidden;"]>div{
  margin: auto;
}

.stories-upload-progress{
    position: fixed;
    width: 50%;
    left: 250px;
    top: 180px;
    z-index: 10000;
}

.post-upload-input{
  margin: 5px;
  border: none;
  border: 1px solid lightgray;
  border-radius: 50px;
  padding: 10px;
  width: 80%;
  flex: 10;
}

.upload-post-button, .create-post-button{
  margin: 5px 5px !important;
  flex: 1;
}

.file-upload-option{
  margin: 2px auto;
  width: 80%;
}

.upload-post-section-button-group{
  display: flex;
  flex-direction: row;
}

.avatars-of-user-stories a{
  text-decoration: none;
  color: black;
}

.user-name-stories{
  text-overflow: ellipsis;
  display:block;
  max-width: 80px;
  overflow: hidden;     
  white-space: nowrap;
  text-align: center;
  font-weight: 400;
}

.avatar-badge-icon-stories {
  cursor: pointer;
  background-color: white;
  border-radius: 55px;
}

.post-title-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.your-story{
  font-weight: 400;
  margin: 5px;
  white-space: nowrap;
}

.message-for-logged-out-user{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 10px auto 10px auto;
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px 0px;
}

.user-story-avatar {
  object-fit: contain;
  cursor: "pointer";
}

@media screen and (max-width: 400px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }

  .header-buttons-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .log-out-button {
    margin-top: 5px !important;
  }

  .makeStyles-paper-1{
    width: 60vw !important;
  }
}

/* custom scroll-bar */
/* width */
::-webkit-scrollbar {
  width: 1vh;
  height: 0.8vh;
}

/* Track */
::-webkit-scrollbar-track {
  display:none;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover{
  display:block;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
  display:none
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display:block;
  background: darkgray
}